
-
	var list1 = "Суперокна, Профстрой, altAwin, Optima WIN, WinCAD, Klaes, Winkhaus WH ОКНА, BandMaster, WinDraw, Лабрадор-3D, PrefSuite, WinCalc, Раскон";
	var list2 = "СтанПроф, Наши окна, Окнософт, Окна.NET, Окна-Двери, Euro Window, OpenWindow, UniWin Small Business, FENESTRA, Расчет окон, Winplast, \
		WinFastReports Plast, Расчет пластиковых окон, Столкад, Ecadam, \
		WINDOORS, Adulo GS, PowerPVC, ATHENA, UPOS, Wintechnology, FastWIN, \
		EXCALIBUR, Windowmaker, IT Окна Конструктор, 3E-Look, Alumax3D.";


section#compatible: div.container

	h2 Совместимость с оконными расчетными программами
	
	
	
	div(align="center")
	
		p.lead.
			Калькулятор поддерживает совместную работу с основными 
			оконными расчетными программами, такими как:
			
		p.lead: each item in list1.split(",")
			span.label.label-warning= item
			span 
			
		p.lead.
			А также менее известными, но активно задействованными 
			на оконных предприятиях:
			
		p.lead: each item in list2.split(",")
			span.label.label-default= item
			span 
			
		p.lead.
			И многими другими программами для расчета окон.