
-
	var list1 = "Суперокна, Профстрой, altAwin, Optima WIN, WinCAD, Klaes, Winkhaus WH ОКНА, BandMaster, WinDraw, Лабрадор-3D, PrefSuite, WinCalc, Раскон";
	var list2 = "СтанПроф, Наши окна, Окнософт, Окна.NET, Окна-Двери, Euro Window, OpenWindow, UniWin Small Business, FENESTRA, Расчет окон, Winplast, \
		WinFastReports Plast, Расчет пластиковых окон, Столкад, Ecadam, \
		WINDOORS, Adulo GS, PowerPVC, ATHENA, UPOS, Wintechnology, FastWIN, \
		EXCALIBUR, Windowmaker, IT Окна Конструктор, 3E-Look, Alumax3D,\
		И многими другими...";


section#compatible: div.container

	h2 Взаимодействие
	
	div.row
		
		div.col-md-1
		
		div.col-md-10
			div(align="center")
				
				p.lead.
					Калькулятор поддерживает совместную работу с любыми оконными расчетными программами, в частности:
					
				p.lead: each item in list1.split(",")
					span.label.label-info(style="font-size: 130%; line-height: 1.8; font-weight: normal;")= item
					span 
					
				p.lead: each item in list2.split(",")
					span.label.label-default(style="font-size: 60%; font-weight: normal;")= item
					span 
		
		div.col-md-1
	