
section#contacts: div.container

	h2 Контактная информация
	
	div.row
	
		div.col-md-1
	
		div.col-md-4
			p: img(src="/images/robot-flip.jpg" border=0)
			
		div.col-md-6
		
			p.lead Заказать калькулятор можно у нас:
				
			ul.list-group
					li.list-group-item #[+glyph("signal")] Телефон: +7 (929) 608-33-61, Тимофей
					li.list-group-item #[+glyph("check")] Электронная почта: #[a(href="mailto://89296083361@mail.ru") 89296083361@mail.ru]
					li.list-group-item #[+glyph("share")] Skype: #[a(href="call://timofey_ka") timofey_ka]
					li.list-group-item #[+glyph("headphones")] Время работы: 9:00–20:00 (Москва), без выходных.
					li.list-group-item #[+glyph("thumbs-up")] Компания: ООО «Альтернатива» (г. Москва)
		
			p.
				В нашей компании также есть возможность заказать полный комплекс услуг по автоматизации оконного бизнеса. 
				Подробности спрашивайте у нашего менеджера.
			
		div.col-md-1