div.container.theme-showcase
	h2 Наш калькулятор поможет вам
	ul.list-group
		li.list-group-item #[+glyph("signal")] Получить больше новых клиентов (увеличит КПД вашего сайта)
		li.list-group-item #[+glyph("check")] Увеличить число успешных сделок
		li.list-group-item #[+glyph("share")] Повысить количество повторных продаж
		li.list-group-item #[+glyph("headphones")] Упростить работу Ваших менеджеров
		li.list-group-item #[+glyph("thumbs-up")] Увеличить лояльность потенциальных клиентов