
section#goal: div.container

	h2 Наш калькулятор поможет вам
	
	div.row
	
		div.col-md-1
			div(style="position: relative;")
				img(src="/images/girl1.png" style="position: absolute; top: -170px; left: 0px;")
	
		div.col-md-3
	
		div.col-md-7
			ul.list-group
				li.list-group-item #[+glyph("signal")] Получить больше новых клиентов (увеличит КПД вашего сайта)
				li.list-group-item #[+glyph("check")] Увеличить число успешных сделок
				li.list-group-item #[+glyph("share")] Повысить количество повторных продаж
				li.list-group-item #[+glyph("headphones")] Упростить работу Ваших менеджеров
				li.list-group-item #[+glyph("thumbs-up")] Увеличить лояльность потенциальных клиентов
	
		div.col-md-1
	
	div(style="height: 250px;")