div.container.theme-showcase
	h2 Печать коммерческого предложения
	div.row
		div.col-md-6#kpoffer
			p: a(href="/images/kpoffer.png"): img(src="/images/image2printer.png" border=0 title="Примерный вид коммерческого предложения")
		div.col-md-6
			p.lead Уникальной особенностью калькулятора является возможность сформировать коммерческое предложение с реквизитами, телефоном и логотипом Вашей компании.
			p.lead Оно содержит: 
			ul.lead
				li Рисунок изделия с описанием параметров и стоимостью
				li Подоконники, отливы, откосы
				li Дополнительные услуги (монтаж, доставка)
			p.lead Ваш клиент может распечатать коммерческое предложение на принтере прямо с Вашего сайта.