
section#offer: div.container

	h2 Печать коммерческого предложения
	
	div.row
	
		div.col-md-1
	
		div.col-md-5
			p#kpoffer: a(href="/images/kpoffer.png"): img(src="/images/image2printer.png" border=0 title="Примерный вид коммерческого предложения")
			
		div.col-md-5
			p.lead Уникальной особенностью калькулятора является возможность сформировать коммерческое предложение с реквизитами, телефоном и логотипом Вашей компании.
			p.lead Оно содержит: 
			ul.list-group
				li.list-group-item Изображение изделия
				li.list-group-item Описание параметров изделия
				li.list-group-item Стоимость, смету
				li.list-group-item Подоконники, отливы, откосы
				li.list-group-item Дополнительные услуги (монтаж, доставка)
			p.lead Ваш клиент может распечатать коммерческое предложение на принтере прямо с Вашего сайта.
	
		div.col-md-1