
section#price: div.container

	+jumbotron: div(align="center")
	
		h2 Цена калькулятора: 25 000 руб.
		
		p.lead.
			В цену входит: калькулятор, его внедрение и установка на Ваш сайт.
		
		p
			button.btn.btn-primary.btn-lg(type="button" data-toggle="modal" data-target="#order") Купить калькулятор
			span 
			button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#demo") Посмотреть демо