
style.
	.scheme-glyph {
		padding: 10px;
		text-align: center;
		font-size: 60px;
		color: white;
		
		margin: 0 auto; 
		width: 100px; 
		height: 100px; 
		background-color: #bf3e11;
		
	}
	.scheme-glyph span.glyphicon {
		margin: 10%;
	}
	section#scheme div.popover {
		margin-top: 20px;
	}


section#scheme: div.container

	h2 Схема покупки калькулятора
	
	div.row
	
		div.col-md-3
			div.img-circle.scheme-glyph #[+glyph("thumbs-up")]
			div.popover.static.bottom
				div.arrow
				h3.popover-title Формулы
				div.popover-content: p.
					Для начала нам необходимо согласовать формулы расчета стоимости изделий, 
					услуг и дополнительных материалов для настройки калькулятора.
			
		div.col-md-3
			div.img-circle.scheme-glyph #[+glyph("wrench")]
			div.popover.static.bottom
				div.arrow
				h3.popover-title Настройка
				div.popover-content: p Далее наши специалисты настраивают калькулятор согласно достигнутой договоренности.
			
		div.col-md-3
			div.img-circle.scheme-glyph #[+glyph("log-in")]
			div.popover.static.bottom
				div.arrow
				h3.popover-title Установка
				div.popover-content: p Вы связываете нас с администраторами Вашего сайта и мы устанавливаем на него калькулятор.
			
		div.col-md-3
			div.img-circle.scheme-glyph #[+glyph("saved")]
			div.popover.static.bottom
				div.arrow
				h3.popover-title Проверка
				div.popover-content: p На данном этапе Вы проверяете результат нашей работы. Калькулятор настроен и функционирует на Вашем сайте.
			
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
