div.container.theme-showcase
	h2 Схема покупки калькулятора
	ul.nav.nav-tabs.nav-justified
		li.active: a(href="#1" data-toggle="tab") Предоплата
		li: a(href="#2" data-toggle="tab") Настройка
		li: a(href="#3" data-toggle="tab") Получение прайса
		li: a(href="#4" data-toggle="tab") Проверка калькулятора  
		li: a(href="#5" data-toggle="tab") Сдача к эксплуатацию
	div.tab-content
		div#1.tab-pane.fade.active.in 
			p Предоплата
		div#2.tab-pane.fade
			p Настройка
		div#3.tab-pane.fade
			p Получение прайса
		div#4.tab-pane.fade
			p Проверка калькулятора  
		div#5.tab-pane.fade
			p Сдача к эксплуатацию