section#setupokna(style='background-image: url("http://www.lenagold.ru/fon/tum/gelsv/gelsvtum03.jpg");')
	div.container.theme-showcase
		h2 Калькулятор это не только калькулятор
		div.row
			div.col-md-6#kpoffer
				p: img(src="/images/robot-flip.jpg" border=0)
			div.col-md-6
				p.lead.
					Это возможность заказать полный комплекс услуг по автоматизации оконного бизнеса.
					Подробности спрашивайте у нашего менеджера.