
//-section#setupokna(style='background-image: url("http://www.lenagold.ru/fon/tum/gelsv/gelsvtum03.jpg");')

section#setupokna

	div(style="background-color: #727271;")
	
		div(style="height: 400px;background-image: url('/images/setupokna-logo.png'); background-repeat: no-repeat; background-position: center center;")
		div(style="height: 200px;background-image: url('/images/robot-footer.png'); background-repeat: no-repeat; background-position: center center;")

	div(style="background-color: #ef7f1a; height: 20px;")