div.container.theme-showcase
	+jumbotron
		div(align="center")
			h1 #[span.rotate Оконный, Простой, Наглядный] калькулятор
			p.
				Представляем оконный калькулятор «ОК-2015» для Вашего сайта! 
				Он позволит Вашим потенциальным клиентам быстро и просто рассчитать предварительную стоимость окна 
				и вывести коммерческое предложение.
				
			p: img(src="/images/image1.png" width="90%" border=0)
			p
				button.btn.btn-primary.btn-lg(type="button") Купить калькулятор
				span 
				button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#demo") Посмотреть демо