title= title
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

//+css("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

//- http://bootswatch.com/
//+css("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css")
+css("https://bootswatch.com/united/bootstrap.css") 

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

//- https://github.com/peachananr/simple-text-rotator
script(src="/vendor/simple-text-rotator/jquery.simple-text-rotator.min.js")

//- https://github.com/yairEO/photobox
+css("/vendor/photobox/photobox/photobox.css")
script(src="/vendor/photobox/photobox/jquery.photobox.js")

script(src="/vendor/jquery.scrollTo/jquery.scrollTo.min.js")

//+css("/vendor/onepage-scroll/onepage-scroll.css")
//script(src="/vendor/onepage-scroll/jquery.onepage-scroll.min.js")

+css("style.css")
script(src="/themeswitch.js")
script(src="/index.js")

