title= title
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="shortcut icon" href="/favicon.gif" type="image/x-icon")

//+css("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

//- http://bootswatch.com/
//+css("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css")
//+css("https://bootswatch.com/united/bootstrap.css") 

script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js")



// Общий JS-файл, создаваемый в Gulp.
// https://github.com/peachananr/simple-text-rotator
// /vendor/simple-text-rotator/jquery.simple-text-rotator.min.js
// /vendor/jquery.scrollTo/jquery.scrollTo.min.js
// https://github.com/yairEO/photobox
// /vendor/photobox/photobox/jquery.photobox.js
script(src="/build/all.js")


// Общий CSS-файл, создаваемый в Gulp.
// https://bootswatch.com/united/bootstrap.css
// https://github.com/yairEO/photobox
// /vendor/photobox/photobox/photobox.css
+css("/build/css/all.css")


+css("style.css")
//script(src="/themeswitch.js") // Переключение тем бутстрапа
script(src="/index.js")

