
include mixin/bootstrap

html(lang="ru")
	head: include head	
	body(data-spy="scroll" data-target=".navbar")
		include modal/demo
		include modal/order
		+navbar("Оконный калькулятор", menu)
		include section/welcome
		include section/goal
		include section/features
		include section/offer
		include section/scheme
		include section/compatible
		include section/setupokna
		include section/contacts