
include mixin/bootstrap

html(lang="ru")
	head: include head	
	body
		include modal/demo
		+navbar("Оконный калькулятор", menu)
		div.page
			section: include section/welcome
			section: include section/goal
			section: include section/features
			section#offer: include section/offer
			section: include section/scheme
			section: include section/compatible
			section(style='background-image: url("http://www.lenagold.ru/fon/tum/gelsv/gelsvtum03.jpg");'): include section/setupokna

								