
-
	var features = "\
		Выбор типа изделия#\
		Этот выбор осуществляется из предустановленного набора типовых окон и дверей.\
		Данный и последующие разделы настриваются индивидуально под Вас.\
		==\
		Выбор системы профиля и системы фурнитуры#\
		Стоимость изделия зависит от выбора системы профиля и фурнитуры. \
		В калькуляторе есть возможность выбирать любой профиль, который используется в Вашей компании.\
		==\
		Выбор стеклопакета#\
		Можно настроить конкретные формулы стеклопакетов или же упростить, \
		написав только количество камер в стеклопакете, ведь не каждый потребитель не разбирается в формулах.\
		==\
		Выбор варианта ламинации изделия#\
		Перечисляются либо конкретные цвета Renolit, RAL либо сторона \
		ламинации: внутренняя, внешняя, двусторонняя.\
		==\
		Вывод стоимости окна, оплаты в рассрочку, оплаты за монтаж, отделку и доставку отдельно от стоимости изделия#\
		Для корректной работы этих функций мы закладываем Ваши формулы в модуль настроек калькулятора.\
		==\
		Выбор подоконника, отлива, откоса#\
		Дополнительные материалы также могут быть настроены. \
		Более того этот список можно пополнить Вашими индивидуальными пожеланиями.\
		==\
		Выбор демонтажа, монтажа, доставки#\
		При выборе дополнительных услуг появляется возможность задать опции, \
		такие как расстояние в километрах для услуги 'Доставка'.\
		==\
		Вывод характеристик окна: 'Тепло', 'Тишина', 'Дизайн'#\
		Благодаря этим характеристикам изделия покупатель сможет \
		подобрать для себя более подходящую конфигурацию.\
		==\
		Печать коммерческого предложения#\
		Детальное коммерческое предложение с таблицей сметой, \
		логотипом, телефоном и контактами Вашей компании\
		==\
		Интеграция с вашим сайтом или интернет-магазином#\
		Калькулятор можно связать с Вашим интернет-магазином \
		для оперативной работы с клиентом.\
		==\
		Фотографии сечений выбранных систем профилей и стеклопакета#\
		Позволяют сразу увидеть срез будущего изделия или стеклопакета \
		для любознательных клиентов.\
	";
	
	var _features = [];
	features = features.split("==");
	features.forEach(function(feature) {
		feature = feature.split("#");
		_features.push({
			title: feature[0],
			text: feature[1]
		});
	});
	features = _features;






section#features: div.container.theme-showcase

	h2 Возможности калькулятора
	
	
	div.panel-group#accordion(role="tablist" aria-multiselectable="true")
	
		each feature, index in features
			div.panel.panel-default
				div.panel-heading(role="tab" id="heading" + index)
					h4.panel-title
						a(class=index ? "collapsed" : "" data-toggle="collapse" data-parent="#accordion" href="#collapse" + index aria-expanded="true" aria-controls="collapse" + index role="button")
							= feature.title
				div.panel-collapse.collapse(class=index ? "" : "in" id="collapse" + index role="tabpanel" aria-labelledby="heading" + index)
					div.panel-body= feature.text
		
	
	