		div.col-md-6: ul.list-group
			li.list-group-item
				h3 Выбор типа изделия
				p Этот выбор осуществляется из предустановленного набора типовых окон и дверей. Данный и последующие разделы настриваются индивидуально под Вас.
			li.list-group-item
				h3 Выбор системы профиля и системы фурнитуры
				p Стоимость изделия зависит от выбора системы профиля и фурнитуры. В калькуляторе есть возможность выбирать любой профиль, который используется в Вашей компании.
			li.list-group-item
				h3 Выбор стеклопакета
				p Можно настроить конкретные формулы стеклопакетов или же упростить, написав только количество камер в стеклопакете, ведь не каждый потребитель не разбирается в формулах.
			li.list-group-item
				h3 Выбор варианта ламинации изделия
				p Перечисляются либо конкретные цвета Renolit, RAL либо сторона ламинации: внутренняя, внешняя, двусторонняя.
			li.list-group-item
				h3 Вывод стоимости окна, оплаты в рассрочку, оплаты за монтаж, отделку и доставку отдельно от стоимости изделия.
				p Для корректной работы этих функций мы закладываем Ваши формулы в модуль настроек калькулятора.
		
		div.col-md-6: ul.list-group
			li.list-group-item
				h3 Выбор подоконника, отлива, откоса
				p Дополнительные материалы также могут быть настроены. Более того этот список можно пополнить Вашими индивидуальными пожеланиями.
			li.list-group-item
				h3 Выбор демонтажа, монтажа, доставки
				p При выборе дополнительных услуг появляется возможность задать опции, такие как расстояние в километрах для услуги "Доставка".
			li.list-group-item
				h3 Вывод характеристик окна: "Тепло", "Тишина", "Дизайн"
				p Благодаря этим характеристикам изделия покупатель сможет подобрать для себя более подходящую конфигурацию.
			li.list-group-item
				h3 Печать коммерческого предложения 
				p Детальное коммерческое предложение с таблицей сметой, логотипом, телефоном и контактами Вашей компании
			li.list-group-item
				h3 Интеграция с вашим сайтом или интернет-магазином
				p Калькулятор можно связать с Вашим интернет-магазином для оперативной работы с клиентом.
			li.list-group-item
				h3 Фотографии сечений выбранных систем профилей и стеклопакета
				p Позволяют сразу увидеть срез будущего изделия или стеклопакета для любознательных клиентов.