//- Модальное окно Демонстрация калькулятора
div.modal.fade#demo
	div.modal-dialog.modal-fs
		div.modal-content
			div.modal-header(style="text-align: right;")
				div.row
					div.col-md-9
						h2 Демонстрация калькулятора
					div.col-md-3
						button.btn.btn-primary(type="button" data-toggle="modal" data-target="#order") Купить калькулятор
						span 
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть окно
			//div.modal-body: iframe(src="http://calcgefest-khusamov.c9.io/#navoff" width="100%" height="700px" style="border: 0;")
			div.modal-body: iframe(src="/gefest/#navoff" width="100%" height="700px" style="border: 0;")